* {
    margin: 0;
    padding: 0;
    outline:none;
}
html {
    height: 100%;
    font-size: 100.1%;
}
body {
    font: 12px/1.333 trebuchet ms;
    height: 100%;
	background: url(../i/bg.png) repeat 0 0;
}
a img, fieldset {
    border: 0;
}
a {
    outline: none;
    color: #a70328;
}
h1,h2,h3,h4,h5,h6{
    font-weight:normal;
}
/*a:hover{
	color:#3fa9f5;
}*/
li {
    list-style: none;
}
table {
	border-collapse: collapse;
}
/* html (begin) */
article,aside,canvas,details,embed,figcaption,figure,footer,header,hgroup,menu,nav,section,summary {display: block;}
command,datalist,keygen,mark,meter,progress,rp,rt,ruby,time,wbr {display: inline;}
/* html (end) */

/* wrapper (begin) */
.wrapper {
	width: 1200px;
	margin: 0 auto;
	position: relative;
}
.ratingTable table {
	width: 800px;
}
.ratingTable table td,
.ratingTable table th {
	border: 1px solid #000;
	padding: 5px;
	text-align: center;
}
.ratingTable div {
	position: relative;
}
.ratingTable div .diff {
	position: absolute;
	top: 0;
	right: 30px;
	white-space: nowrap;
}
.matchResults {
	position: fixed;
	left: 20px;
	top: 20px;
}
/* wrapper (end) */

/* cols (begin) */
.cols {}
.cols:after {
	content: '';
	display: block;
	clear: both;
}
.cols .l-col {
	float: left;
}
.cols .r-col {
	float: right;
}
/* cols (end) */