<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>autodiler</title>
    <link rel="stylesheet" href="css/main.css" type="text/css"/>

	<!--[if IE 7]>
    <link rel='stylesheet' type='text/css' href="css/ie7.css"/>
    <![endif]-->
    <!--[if IE 8]>
    <link rel='stylesheet' type='text/css' href="css/ie8.css"/>
    <![endif]-->
    <!--[if IE 9]>
    <link rel='stylesheet' type='text/css' href="css/ie9.css"/>
    <![endif]-->

    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->


    <!--script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/main.js"></script-->
</head>

<body>
	<form action="/postform" method="post">
		<input type="file" value="" name="file" />
		<input type="submit" value="submit" />
	</form>
</body>
</html>
