<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>autodiler</title>
    <link rel="stylesheet" href="css/main.css" type="text/css"/>

	<!--[if IE 7]>
    <link rel='stylesheet' type='text/css' href="css/ie7.css"/>
    <![endif]-->
    <!--[if IE 8]>
    <link rel='stylesheet' type='text/css' href="css/ie8.css"/>
    <![endif]-->
    <!--[if IE 9]>
    <link rel='stylesheet' type='text/css' href="css/ie9.css"/>
    <![endif]-->

    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->


    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script type="text/javascript">
		$(function() {
			$('.newplayer button').on('click', function() {
				data = {};
			
				$('input').each(function(i, el) {
					data[$(el).attr('name')] = $(el).val();
				});
			
				$.post('/player/new', data, function(data) {
					console.log(data)
				});
				
				return false;
			});
		});
	</script>
</head>

<body>
	<div class="newplayer">
		Добавить игрока
		<div class="field">
			Имя<br/>
			<input type="text" name="firstname" value="" />
		</div>
		<div class="field">
			Фамилия<br/>
			<input type="text" name="lastname" value="" />
		</div>
		<div class="field">
			Город<br/>
			<input type="text" name="city" value="" />
		</div>
		<div class="field">
			Турниров<br/>
			<input type="text" name="tournaments" value="" />
		</div>
		<div class="field">
			Турниров сезона<br/>
			<input type="text" name="seasonTournaments" value="" />
		</div>
		<div class="field">
			Матчей<br/>
			<input type="text" name="games" value="" />
		</div>
		<div class="field">
			Побед<br/>
			<input type="text" name="wins" value="" />
		</div>
		<div class="field">
			Поражений<br/>
			<input type="text" name="loses" value="" />
		</div>
		<div class="field">
			Рейтинг<br/>
			<input type="text" name="rating" value="" />
		</div>
		<div class="field">
			Ранг<br/>
			<input type="text" name="rang" value="" />
		</div>
		<div class="field">
			Активность<br/>
			<input type="text" name="activity" value="" />
		</div>
		
		<div class="buttons">
			<button>send</button>
		</div>
	</div>
</body>
</html>
