<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>autodiler</title>
    <link rel="stylesheet" href="css/main.css" type="text/css"/>

	<!--[if IE 7]>
    <link rel='stylesheet' type='text/css' href="css/ie7.css"/>
    <![endif]-->
    <!--[if IE 8]>
    <link rel='stylesheet' type='text/css' href="css/ie8.css"/>
    <![endif]-->
    <!--[if IE 9]>
    <link rel='stylesheet' type='text/css' href="css/ie9.css"/>
    <![endif]-->

    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->


    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script type="text/javascript">
		$(function() {
			$('button').on('click', function() {
				$.post('/player/new', { name: 'Panfilov' }, function(data) {
					console.log(data)
				});
				
				return false;
			});
		});
	</script>
</head>

<body>
	<div class="newplayer"><input type="text" name="name" value="" /><button>send</button></div>
</body>
</html>
